/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
body,
html {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Open Sans', sans-serif !important;
}

.sectionTabs .mat-tab-label {
    width: 25%;
}

.sectionTabs .mat-tab-body-wrapper {
    height: 100%;
}

button {
    margin: 5px !important;
}

.spacer {
    flex: auto;
}

.accent-stroked {
    border-color: #ffd740 !important;
}

.primary-stroked {
    border-color: #673ab7 !important;
}

.warn-stroked {
    border-color: #f44336 !important;
}