.qPanelQuestion {
    width: 30px;
    height: 30px;
    background-color: #efeaea;
    margin: 5px;
    cursor: pointer;
    display: flex;
    place-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 13px;
}

.mfr {
    background-color: blue;
    color: white;
}